-config = {}
-config.copy = {}

//- Default Values
- config.className = 'classic-hero'
- config.copy.labels = ['Slogan de', 'tu marca'];
- config.copy.isBold = [ true, false ];
- config.copy.tags = ['h1','h2'];

block heroConfig

- var idx = 0;

.grid(class=config.className)
  .col-full
    each line in config.copy.labels

      - var classes = config.className + "__title";

      if config.copy.isBold[idx]
        #{config.copy.tags[idx]}(class=classes)
          b= config.copy.labels[idx]
      else
        #{config.copy.tags[idx]}(class=classes)= config.copy.labels[idx]

      - idx++